* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1428px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row { 
    display: flex;
    flex-wrap: wrap ;
}

button {
    cursor: pointer;
}

