.card {
    cursor: pointer;
    position: relative;
    flex-basis: 342px;
    display: flex;
    height: 513px;

    &:hover {
        .poster {
            opacity: 0.1;
        }
    }

    .card-content {
        padding: 2px 10px;
        flex-basis: 342px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        border: 2px solid red;
        overflow: hidden;
        .card-title {
            font-size: 15px;
        }

        .card-info {
            padding: 20px 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;
            .info-title {
                font-weight: 800;
            }
            .language {
                display: flex;
                align-items: center;
                gap: 10px;

                .language-img {
                    width: 25px;
                }
            }
        }

        .stars {
            display: flex;

            .star {
                color: rgb(242, 242, 122);
            }
        }
        .cast-list {
            display: flex;
            gap: 2px;
            flex-wrap: wrap;
        }
    }

    .poster {
        z-index: 2;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        border-radius: 20px;
        height: 513px;
        width: 342px;
    }

    .unknown {
        object-fit: cover;
        opacity: 0.5;
    }
}